name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: run
      run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          test_windows.bat
      shell: cmd
  test-apple:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: run
      run: ./test_apple.sh
  test-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: install libjpeg-turbo
      run: |
        wget https://github.com/libjpeg-turbo/libjpeg-turbo/releases/download/3.1.2/libjpeg-turbo-official_3.1.2_amd64.deb
        sudo dpkg -i ./libjpeg-turbo-official_3.1.2_amd64.deb
    - name: run
      run: |
        export CPATH=$CPATH:/opt/libjpeg-turbo/include
        export LIBRARY_PATH=$LIBRARY_PATH:/opt/libjpeg-turbo/lib64
        export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/libjpeg-turbo/lib64
        ./test_linux.sh
