name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: run
      run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          test_windows.bat
      shell: cmd
  test-apple:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: run
      run: ./test_apple.sh
  test-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: install libraries
      run: |
        sudo apt-get update
        sudo apt install -y libpng-dev libturbojpeg0-dev
    - name: run
      run: ./test_linux.sh
